<mat-toolbar color="black">
  
 
    <span>AppUsers</span>
    <span class="example-spacer"></span>

    <button mat-button routerLink="/dashboard">Clientes</button>
    <button mat-button routerLink="/dashboard/libros">libros</button>
    <button mat-button routerLink="/dashboard/autores">autores</button>
    <!--<img [src]="logo" alt="" width="8%" height="80%">
-->
   <!-- <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect">{{ item.nombre }}</button>-->

    <span class="example-spacer"></span>
     <button mat-button routerLink="/dashboard">LogOut</button> 
   <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
   

  </mat-toolbar>