<div class="container">
    <mat-toolbar>
      <span>Clientes</span>
    
        
     
    </mat-toolbar>

    <br>
    <button mat-raised-button color="primary" >Agregar</button>
    <br>
    <br>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>ID </th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Sexo</th>
            <th>Email</th>
            <th>Created</th>
            <th>Update</th>
            <th>Acciones</th>
            <!-- Nueva columna para los botones de editar y eliminar -->
          </tr> 
        </thead>
      </table>
</div>