<div class="container">
    <mat-toolbar>
      <span>libros </span>
    
    </mat-toolbar>
    <br>
    <button mat-raised-button color="primary" >Agregar</button>
    <br>
    <br>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>id </th>
            <th>titulo</th>
            <th>genero</th>
            <th>aniopublicacion</th>
            <th>ISBN</th>
            <th>Email</th>
            <th>Created</th>
            <th>Update</th>
            <th>Acciones</th>
            <!-- Nueva columna para los botones de editar y eliminar -->
          </tr> 
        </thead>
      </table>
  </div>