<div class="container">
    <mat-toolbar>
      <span>autores</span>
    </mat-toolbar>
    <br>
    <button mat-raised-button color="primary" >Agregar</button>
    <br>
    <br>
    <script src="https://kit.fontawesome.com/646ac4fad6.js" crossorigin="anonymous"></script>

      <table class="table table-borderless">
        <thead>
          <tr>
            <th>id_autor </th>
            <th>nombre</th>
            <th>pais</th>
            <th>edad</th>
            <th>Created</th>
            <th>Update</th>
            <th>Acciones</th>
            <!-- Nueva columna para los botones de editar y eliminar -->
          </tr> 
        </thead>
      </table>
  </div>