<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>MEMU</p>
      <!--<p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>-
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>-->
      <button mat-button routerLink="/dashboard/libros">Libros</button>
    </mat-drawer>
    <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Abrir
    </button>
  </div>

</mat-drawer-container>
